@font-face{
  font-family: "Fabiolo";
  src: url(Fabiolo.otf);
}


* {
  direction: rtl;
  font-family: 'Fabiolo',sans-serif;
}
h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

button{
    cursor: pointer;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ffa401;
  color: white;
  border-radius: 20px;
}

.btns{
  width: 70%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-setting{
  border: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: .5rem  3rem;
  margin: 2rem 0;
  font-size: 1.5rem;
  text-align: center;
  transition: all .3s ease;
  outline: none;
}

.btn-setting:hover{
  background: #fff;
  color: #ffa401;
  border: 1px solid #ffa401;

}
.btn-setting:active{
  border: 1px solid #000;
}
.mytimer{
  font-size: 3rem;
  margin: 1rem 0;
}